<!DOCTYPE html>
<html>

<head>
    <title>Dad Joke Generator</title>
    <style>
        <%=css %>
    </style>
</head>

<body>
    <h1>API Endpoints</h1>
    <table>
        <tr>
            <th>Request Type</th>
            <th>Endpoint</th>
            <th>Description</th>
        </tr>
        <tr>
            <td class="get">GET</td>
            <td>/</td>
            <td>Returns a random dad joke</td>
        </tr>
        <tr>
            <td class="post">POST</td>
            <td>/score</td>
            <td>Submits a score for a dad joke</td>
        </tr>
        <tr>
            <td class="get">GET</td>
            <td>/jokes</td>
            <td>Returns all dad jokes</td>
        </tr>
        <tr>
            <td class="delete">DELETE</td>
            <td>/jokes/:id</td>
            <td>Deletes a specific dad joke</td>
        </tr>
        <tr>
            <td class="post">POST</td>
            <td>/jokes</td>
            <td>Adds a new dad joke</td>
        </tr>
    </table>
    <h1>
        <%= question %>
    </h1>
    <button id="punchline-button" onclick="revealPunchline()">Tell me</button>
    <h1 id="punchline" style="display:none;">
        <%= punchline %>
    </h1>
    <h2>Average Score: <%= averageScore %>
    </h2>
    <h2>Votes: <%= votes %>
    </h2>
    <form action="/score" method="post" id="rating-form" style="display:none;">
        <label for="score">Score:</label>
        <input type="hidden" id="id" name="id" value="<%= id %>" />
        <select id="score" name="score">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="submit" value="Rate">
    </form>
</body>
<script>
    function revealPunchline() {
        document.getElementById("punchline").style.display = "block";
        document.getElementById("punchline-button").style.display = "none";
        document.getElementById("rating-form").style.display = "block";
    }
</script>

</html>